* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

body, html {
  width: 100%;
  height: 100%;
  background: #222;
}

.body {
  white-space: pre-wrap; /* Сохраняет пробелы и переносы строк */
  word-wrap: break-word; /* Переносит длинные слова */
  
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  overflow-y: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.name {

  font-weight: bold; /* Полужирный шрифт */
  font-size: 15px; /* Размер шрифта */
  color: #222; /* Контрастный цвет текста */
  margin-bottom: 5px; /* Отступ снизу для разделения с текстом сообщения */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Тень текста */

}



.chat {
  list-style: none;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.chat li {
  background: #04448d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  word-wrap: break-word; /* Позволяет переносить слова на новую строку */

}

.form {
  display: flex;
  align-items: center;
  background: #3e3e3e;
  border-radius: 20px;
  gap: 10px;
  height: 60px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(-20px); /* Приподнять на 10px */
}
/* 
.form input {
  flex: 1;
  height: 100%;
  border-radius: 100px;
  border: none;
  background: #333;
  outline: none;
  padding-left: 20px;
  color: white;
} */

textarea{  
  resize:none;
  border:none;
  display:block;
  flex: 1;
  height: 100%;
  gap: 30px;
  border-radius: 10px;
  border: none;
  background: #333;
  outline: none;
  padding-top: 10px;
  padding-left: 15px;
 
  color: white;
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Apple Color Emoji, Arial, Segoe UI Emoji, Segoe UI Symbol;
}


.form .send {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  width: 120px; /* Фиксированная ширина */
  height: 40px; /* Фиксированная высота */
  border-radius: 100px;
  background-color: #1e1e1e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px; /* Размер шрифта */
  padding: 0; /* Убираем внутренние отступы */
  cursor: pointer;
  outline: none;
  margin-left: 10px; /* Отступ слева */
  position: relative; /* Относительное позиционирование для анимации */
  transition: all 0.5s;
}

.form .send:hover {
  background-color: #302f2f;
  padding-right: 25px; /* Добавляем отступ для анимации */
}

.form .send::after {
  content: '>';
  position: absolute;
  right: 5px; /* Начальная позиция стрелки */
  opacity: 0;
  transition: 0.5s;
}

.form .send:hover::after {
  opacity: 1;
  right: 10px; /* Конечная позиция стрелки */
}

.chat-list {
  list-style: none;
  padding: 0;
}

.chat-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-item:hover {
  background-color: #3e3e3e;
}

.chat-item.active {
  background-color: #555;
}

h2 {
  color: white;
  margin-bottom: 10px;
}

.chat-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
